image: Visual Studio 2017

# Disable automatic build of Visual Studio files
build: off

environment:
  matrix:
  - QT_LOC: '"C:\Qt\5.12\msvc2017_64\bin\"'
    VS_LOC: '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat"'
    JOM_LOC: '"C:\Qt\Tools\QtCreator\bin\jom.exe"'
    NSIS_LOC: '"C:\Program Files (x86)\NSIS\"'
    ZIP_LOC: '"C:\Program Files\7-zip\7z.exe"'
    LLVM_LOC: '"C:\Program Files\LLVM\bin\"'
    PYTHON_LOC: '"C:\Python37\"'
    BUILD_PACKAGE: "1"
    OVRAS_WARNINGS_AS_ERRORS: "1"
    
  - QT_LOC: '"C:\Qt\5.12\msvc2017_64\bin\"'
    VS_LOC: '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat"'
    JOM_LOC: '"C:\Qt\Tools\QtCreator\bin\jom.exe"'
    NSIS_LOC: '"C:\Program Files (x86)\NSIS\"'
    ZIP_LOC: '"C:\Program Files\7-zip\7z.exe"'
    LLVM_LOC: '"C:\Program Files\LLVM\bin\"'
    PYTHON_LOC: '"C:\Python37\"'
    BUILD_PACKAGE: "1"
    BUILD_CLANG: '"1"'
    OVRAS_WARNINGS_AS_ERRORS: "1"
    

clone_depth: 1

init:
  - set TAG_NAME=%APPVEYOR_REPO_TAG_NAME%

build_script:
  - python ./build_scripts/append_to_version_file.py %APPVEYOR_REPO_COMMIT:~0,8%
#  - python ./build_scripts/run-clang-format.py ./src -r --clang-format-executable "C:\Program Files\LLVM\bin\clang-format.exe" --color always
  - call "build_windows.cmd"

artifacts:
  - path: bin\win64\AdvancedSettings*.7z
    name: portable
  - path: installer\AdvancedSettings*.exe
    name: installer

branches:
  except:
    - /docs-*/
    - /do-not-run-ci-*/
    - /only-travis-ci-*/
    - /only-circle-ci-*/
